*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/background_calc.jpg);
}

h1{
    text-align: center;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.menu_navegacao{
    text-align: center;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu_paginas{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    background: rgba(0,0,0,0.85);

    padding: 15px;
    border-bottom: 3px solid #000000;

    position: sticky;
    top: 0;

    z-index: 100;
}

.menu_navegacao a{
    text-decoration: none;
    color: rgb(0, 0, 0);

    padding: 10px 18px;

    border: 2px solid #000000;
    border-radius: 8px;

    font-weight: bold;

    transition: .3s;
    display: block;
    position: relative;
}
body p{
    text-align: center;
    margin: 10px;
    font-family: verdana;

}
